[submodule "megasource"]
	path = megasource
	url = git@github.com:alexjgriffith/megasource.git
[submodule "love"]
	path = love
	url = git@github.com:alexjgriffith/love.git
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
