tmp
*~
\#*
artifacts/*
node_modules
dist
build
build/*
release
resources/love-*
resources/release
resources/compat
resources/game.data
resources/game.metadata
# emacs version control
\#*
*\#
*~
examples/*/build