[submodule "love.js"]
	path = love.js
	url = git@github.com:alexjgriffith/love.js.git
[submodule "megasource"]
	path = megasource
	url = git@github.com:alexjgriffith/megasource.git
[submodule "love"]
	path = love
	url = git@github.com:alexjgriffith/love.git
[submodule "fennellovejs"]
	path = fennellovejs
	url = git@github.com:alexjgriffith/fennellovejs.git
[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
